<!-- Blog entry -->
<div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
        <h5>
            <label *ngIf="isReadOnly" class="w3-label">Title</label>
            <input class="w3-input" [readonly]="isReadOnly" value="{{post.title}}"/>
        </h5>
    </div>
    <div class="w3-container">
        <h5>{{post.author}} <span class="w3-opacity">{{post.updated|date}}</span></h5>
    </div>
    <div class="w3-container">
        <label *ngIf="isReadOnly" class="w3-label">Text</label><br>
        <textarea [readonly]="isReadOnly" rows="20" #posttext (keyup)="onTextkey(posttext.value)"
                  value="{{post.text}}"></textarea>
        <div class="w3-row">
            <div class="w3-col m8 s12">
                <button *ngIf="!isReadOnly" (click)="onSaveClick()"
                        class="w3-button w3-padding-large w3-green w3-border">Save
                </button>
            </div>
            <div class="w3-col m4 w3-hide-small">
                <span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-tag">0</span></span>
            </div>
        </div>
    </div>
</div>
<hr>