<!-- Blog entry -->
<div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
        <h5>{{post.title}}</h5>
    </div>
    <div class="w3-container">
        <h5>{{post.author}} <span class="w3-opacity">{{post.updated|date}}</span></h5>
    </div>
    <div class="w3-container">
        <p>{{getTextPreview()}}</p>
        <div class="w3-row">
            <div class="w3-col m8 s12">
                <nav>
                    <button (click)="detailsClicked()" class=" w3-button w3-padding-large w3-white w3-border"><b>READ
                        MORE »</b></button>
                </nav>
            </div>
        </div>
    </div>
</div>
<hr>